body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--brand-color);
}

a {
    text-decoration: none;
    color: wheat
}

:root {
    --brand-color: #FFFFFF;
    --letter-spacing: #4D5AE5;
    --link-color: #2E2F42;
    --link-color-add: #434455;
    --color-footer: #F4F4FD;
}

/*Header styles*/
.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--letter-spacing);
}

.studio-down {
    color: var(--color-footer);
}

.studio {
    color: var(--link-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf
}

.address {
    font-style: normal;
    list-style: none;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color-add);
}

.link:hover,
.link:focus {
    color: #404bbf
}

.hero {
    background-color: var(--link-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.feature-p {
    list-style: none;
}

.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color-add);
}

.projects {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-color);
}

.projects-list {
    
}

.section-team {
    background-color: #F4F4FD
}

.section-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-color);
}

.section-team-item {
    background-color: #FFFFFF;
}

.footer {
    background-color: var(--link-color)
}

.footer-p {
    line-height: 1.5;
    color: var(--color-footer);
    letter-spacing: 0.02em;
}

.btn-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--letter-spacing);
    background-color: var(--color-footer);
    cursor: pointer;
}

.btn-port:hover,
.btn-port:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.item-img {
    list-style: none;
}

.a-img {
    text-decoration: none;
}

.img-h-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.img-p-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color-add);