:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-Text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal-overlay-color: #2e2f4266;
    --hero-background-color: #2e2f42b3;
    --white-background-color: #ffffff;
    --modal-background-color: #fcfcfc;
    --shadow-color-1: #2e2f4214;
    --shadow-color-2: #2e2f4229;
    --button-shadow-color-1: #0000001a;
    --button-shadow-color-2: #00000014;
    --button-shadow-color-3: #0000001f;
    --modal-box-shadow-1: #00000024;
    --modal-shadow-2: #0000001f;
    --modal-shadow-3: #00000033;
    --close-button-border-color: #0000001a;
}

 /**=====RESET=====*/ 

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 ul,
 ol {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
     color: currentColor;
 }

 button {
     font-family: inherit;
     cursor: pointer;
 }

 img {
     display: block;
 }

 /**=====GENERAL=====*/

 body {
     background-color: var(--white-background-color);
     font-family: Roboto, sans-serif;
     color: var(--text-color);
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .list {
     display: flex;
     gap: 24px;
 }

 .container {
     width: 1158px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 /**=====HEADER=====*/

 .link-logo {
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     text-decoration: none;
     color: var(--primary-brand-color);
     margin-right: 76px;
 }

 .logo-dark {
     color: var(--dark-color);
 }

 .header-list {
     display: flex;
     gap: 40px;
 }

 .nav-menu-item {
     font-weight: 500;
     color: var(--dark-color);
     padding: 24px 0;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-menu-item:hover,
 .nav-menu-item:focus,
 .nav-menu-item:active {
     color: var(--pressed-state-color);
 }

 .address-list-item {
     color: var(--text-color);
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-list-item:hover,
 .address-list-item:focus,
 .address-list-item:active {
     color: var(--pressed-state-color);
 }

 .active-page {
     position: relative;
     color: var(--pressed-state-color);
 }

 .active-page::after {
    content: '';
        position: absolute;
        left: 0;
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        color: #404bbf;
 }

 .address {
     font-style: normal;
 }

 .header {
     padding: 24px 0;
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px var(--shadow-color-1),
         0px 1px 1px var(--shadow-color-2), 0px 1px 6px var(--shadow-color-1);
 }

 .header-content {
     display: flex;
     justify-content: space-between;
 }

 .navigation {
     display: flex;
     align-items: center;
 }

 /**=====MAIN=====*/

 .hero-section {
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
     background-color: var(--dark-color);
     background-image: linear-gradient(var(--hero-background-color),
             var(--hero-background-color)),
         url(../images/Hero/office_bg.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding: 188px 0;
 }

 .section-privileges {
     padding: 120px 0;
 }

 .what-are-we-doing-section {
     padding-bottom: 120px;
    text-align: center;
 }

 .section-team {
     background-color: var(--light-color);
     padding: 120px 0;
 }

 .customers-section {
     padding: 120px 0;
 }

 .hero-button {
     background-color: var(--primary-brand-color);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: var(--white-background-color);
     text-align: center;
     display: block;
     margin: 0 auto;
     min-width: 169px;
     height: 56px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-button:hover,
 .hero-button:focus {
     background-color: var(--pressed-state-color);
 }

 .privileges-item {
     flex-basis: calc((100% - 3 * 24px) / 4);
 }

 .products-item {
     flex-basis: calc((100% - 2 * 24px) / 3);
 }

 .page-title {
     color: var(--white-background-color);
     font-size: 56px;
     line-height: 1.07;
     text-align: center;
     letter-spacing: 0.02em;
     max-width: 496px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 48px;
 }

 .section-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     color: var(--dark-color);
     text-align: center;
     margin-bottom: 72px;
 }

 .title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: var(--dark-color);
     margin-bottom: 8px;
 }

 .page-text {
     color: var(--text-color);
 }

 .team-card-title {
     text-align: center;
 }

 .team-card {
     flex-basis: calc((100% - 3 * 24px) / 4);
     border-radius: 0px 0px 4px 4px;
     background-color: var(--white-background-color);
     box-shadow: 0px 1px 6px var(--shadow-color-1),
         0px 1px 1px var(--shadow-color-2), 0px 2px 1px var(--shadow-color-1);
 }

 .team-card-text {
     text-align: center;
 }

 .team-member {
     padding: 32px 0;
 }

 .privileges-icon-box {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 112px;
     background-color: var(--light-color);
     border-radius: 4px;
     padding: 24px 100px;
     margin-bottom: 8px;
 }

 .privileges-icon {
     display: block;
     width: 64px;
     height: 64px;
     margin: 0 auto;
 }

 .social-links-box {
     justify-content: space-between;
     padding-top: 8px;
     justify-content: center;
 }

 .social-links-item {
     width: 40px;
     height: 40px;
 }

 .social-links-link {
     width: 100%;
     height: 100%;
     background-color: var(--primary-brand-color);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-links-icon {
     fill: var(--light-color);
 }

 .social-links-link:hover,
 .social-links-link:focus {
     background-color: var(--pressed-state-color);
 }

 .customers-list-item {
     width: calc((100% - 120px) / 6);
     height: 88px;
 }

 .customer-card {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     border: 1px solid var(--subtle-Text-color);
     border-radius: 4px;
     color: var(--subtle-Text-color);
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .customer-icon {
     fill: currentColor;
 }

 .customer-card:hover,
 .customer-card:focus {
     border-color: var(--pressed-state-color);
     color: var(--pressed-state-color);
 }

 /**=====FOOTER=====*/

 .logo-light {
     color: var(--light-color);
 }

 .footer-text {
     color: var(--light-color);
     max-width: 264px;
 }

 .footer {
     background-color: var(--dark-color);
     padding: 100px 0;
 }

 .footer-logo {
     font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     text-decoration: none;
     color: var(--primary-brand-color);
     display: inline-block;
     margin-bottom: 16px;
 }

 .footer-text-box {
     width: 264px;
     height: 112px;
     margin-right: 120px;
 }

 .footer-social {
     width: 208px;
     height: 80px;
 }

 .footer-social-title {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--white-background-color);
     margin-bottom: 16px;
 }

 .footer-social-links {
     display: flex;
     gap: 16px;
 }

 .footer-box {
     display: flex;
     align-items: baseline;
 }

 .footer-social-links .social-links-link:hover,
 .footer-social-links .social-links-link:focus {
     background-color: var(--success-color);
 }

 /**=====MODAL=====*/

 

 .backdrop.is-hidden {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;

 }

 .modal-window {
     position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 408px; 
    min-height: 584px; 
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }

 .modal-close-button {
    position: absolute;
        display: flex;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
    .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .modal-close-button:hover,
 .modal-close-button:focus {
     background-color: var(--pressed-state-color);
     border: 0px;
 }

 .modal-close-button-icon {
     fill: var(--dark-color);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-close-button:hover .modal-close-button-icon,
 .modal-close-button:focus .modal-close-button-icon {
     fill: var(--white-background-color);
 }

 /**=====PORTFOLIO=====*/

 .portfolio-section {
     padding-top: 96px;
     padding-bottom: 120px;
 }

 .buttons-list {
     justify-content: center;
     margin-bottom: 72px;
 }

 .filters-button {
     background-color: var(--light-color);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: var(--primary-brand-color);
     text-align: center;
     border: 1px solid var(--accent-color);
     padding: 12px 24px;
     border-radius: 4px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .filters-button:hover,
 .filters-button:focus,
 .filters-button:active {
     color: var(--white-background-color);
     background-color: var(--pressed-state-color);
     border: 1px solid transparent;
     box-shadow: 0px 3px 1px var(--button-shadow-color-1),
         0px 2px 1px var(--button-shadow-color-2),
         0px 2px 2px var(--button-shadow-color-3);
 }

 .product-list {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }

 .product-list-item {
     flex-basis: calc((100% - 2 * 24px) / 3);
 }

 .product-link {
     display: block;
     box-shadow: 0px 1px 6px var(--shadow-color-1);
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .product-description {
     border: 1px solid #e7e9fc;
     border-top: none;
     padding: 32px 16px;
 }

 .product-image {
     position: relative;
     overflow: hidden;
 }

 .product-overlay-text {
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     background: var(--primary-brand-color);
     padding: 40px 32px;
     color: var(--light-color);
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .product-link:hover .product-overlay-text,
 .product-link:focus .product-overlay-text {
     transform: translateY(0%);
 }

 .product-link:hover,
 .product-link:focus {
     box-shadow: 0px 1px 6px var(--shadow-color-1),
         0px 1px 1px var(--shadow-color-2), 0px 2px 1px var(--shadow-color-1);
 }