:root {}

.body {
    font-family: "Raleway", sans-serif; "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: "Roboto";
    cursor: pointer;
}

.header {
    background-color: #ffffff;
}

.nav {}

/* logo styles start */

.logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.studio-dark {
    color: #2e2f42;
}
.studio-light {
    color: #f4f4fd;
}

/* logo styles end */

.header-list {}

.header-item {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-black);
}

.header-link {
    color: #2e2f42;
    text-decoration: none;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section {}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}

.button-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}

.advantages-1title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.advantages-list {}

.advantages-item {}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantages-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.doing {}

.doing-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.doing-list {}

.doing-item {}

.team {
    background-color: #F4F4FD
}

.team-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {}

.team-item {
    background-color: #FFFFFF
}

.team-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    text-decoration: none;
}

.footer-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.portfolio-but {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: var(--bg-team);
    cursor: pointer;
}

.portfolio-but:hover {
    color: var(--bg-white);
    background-color: #404BBF;
}

.portfolio-but:focus {
    color: var(--bg-white);
    background-color: #404BBF;
}